@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="px-4 py-5 my-5 text-center">
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <form method="post" enctype="multipart/form-data" asp-controller="Upload"
                  asp-action="UploadArquivo">
                <div class="form-group">
                    <input id="files" type="file" name="arquivo" class="form-control-file" required>
                </div>

                <div class="form-group">
                    <input type="submit" value="Upload" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>

 </div>

