@model IEnumerable<upload_emails.Models.UploadModel>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    @foreach (var item in Model)
    {

        <div class="col-lg-4">
            <div class="card shadow-sm" style="margin-top:4px">
                @*<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>*@
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.arquivoNome)
                        </th>
                    </tr>
                    <thead>
                        <tr>

                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (string email in item.emails)
                        {
                            <tr>
                                <td> @email</td>
                            </tr>
                        }
                        <tr>
                            <td>
                                @Html.ActionLink("Download", "Download", new { file = item.arquivoNome })
                            </td>
                        </tr>
                    </tbody>
                </table>
                @*<div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>*@
            </div>
        </div>
        <br />
    }
</div>
